<form action="/create-post" method="post">
<label>
    Title
    <input name="title" type = "text">
</label>

<label>
    Content
    <textarea name = "content" type="text"></textarea>
</label>

<button type="submit">Post</button>

</form>